*{text-indent: 10px;}
h1 {font-size:20px;padding-top:1%; }
h2 {font-size:30px;padding-top:1%; }
a:link {text-decoration:none; color: #99CC00;}
a:visited {text-decoration:none; color:#99CC66}
a:hover {color:#99FF00;}

body {
	background: url(../imgs/bg.jpg)repeat center;	
    width: 95%;    		
}
 
.sitio {    
    margin: 0 auto;
    width: 99.99%;       
	color:white;	
	font-size:1em;
     }
	 
header{	
	width: 99%;	
	position:static;	
    font-size: 17px;
	text-align:justify;		
}
 
.contenidoprincipal {		
	width:100%;
    text-align:justify;		
	padding: 1%;	    
	position: static;
   }
.about {
	text-shadow: 2px 2px 4px #000000;	
	text-align:justify;	
	float:left;
    width:94%;
	padding: 1%;		
	position: static;
	margin:0 1% 1%;	
}   
/**TOP 2015**/   
figure { margin: 0; font-weight: 100;  }   
   
div.galeria{
	margin-right:5%;
	text-align:center;
	overflow:hidden;
	float:left;
	width:95%;
	position:static;	
	margin-bottom:5%;	
}

div.galeria figure {	
	width:20%;
	display:inline-block;
	transition: 0.75s all ease-in-out;
}
div.galeria figure:hover{
	width:35%;	
}
div.galeria figure img{	
	position:relative;
	width:99.99%;
	border: 1px solid black;	
	
}


div.info{
	float:left;
	width:99%;
	text-shadow: 2px 2px 4px #000000;
	font-family: "gputeks";
	text-align:center;		
}

div.info img{	
	position:static;
	text-align:center;	
	height: auto;
	width:30%;
}

div.info span{
	color:grey;
	font-family: "sciencefair";
	
}
   
.arriba {
	background: rgba(0, 0, 0, 0.5);
	float:left;
    width:97%;
	padding: 1%;
	margin-top:5%;	
	position: static;
	margin:0 1% 1%;
}

.arriba h1{
	font-family: "yorkwhiteletterregular";
	color:#01A9DB;
	font-size:2.5em;
	text-align:center;	
}
/*Aqui se acaba la parte dedicada al top 2015*/

/*Videos*/
#show{	
	float:left;
    width:74%;
	padding: 1%;		
	position: static;
	margin-left:10%;	
}
.videos{
	text-align:center;
	padding:5%;
	float:left;
	width:95%;
	
}
/*Aqui acaba el estilo de los videos*/
footer {
	width:99%;	
	float:left;		
    position: static;
	text-align: center;	      		
}

